@use "./_vars.sass" as *
@use "./_queries.sass" as *
@use "./_functions.sass" as *

@mixin h1($size: 1.75, $weight: 600, $height: 1.125)
  font-size: base($size)
  margin: 0 0 base()
  line-height: $height
  font-weight: $weight

  @include mid-break
    font-size: base(1)
    margin: 0 0 base(.5)

@mixin h2($size: 1.25, $weight: 600, $height: 1.25)
  font-size: base($size)
  margin: 0 0 base()
  line-height: $height
  font-weight: $weight

  @include mid-break
    font-size: base(.8)
    margin: 0 0 base(.5)


