$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

$blockContainerWidth: 1400px

$breakpoint-sm: 480px
$breakpoint-md: 768px
$breakpoint-lg: 1024px
$breakpoint-xl: 1600px

$html-font-size: 20
$html-line-height: 34
$header-height: 80px
$mobile-header-height: 70px
$drawer-width: 400px;
$drawer-mobile-width: 85%;